html,body {
    background: #efefef;
    font-family: "Arial";
  }
  
  .container {
    max-width: 1250px;
    margin: 30px auto 30px;
    padding: 0 !important;
    width: 70%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  }
  
  header {
    background: #eee;
    background-image: url("https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: red;
    height: 250px;
  }
  
  header i {
    position: relative;
    cursor: pointer;
    right: -96%;
    top: 25px;
    font-size: 18px !important;
    color: #fff;
  }
  
 /* .info.contact_style{
     color: blue;
     background-color: black;
 }
   */
  main {
        padding: 20px 20px 0px 20px;
  }
  
  .left {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding-left: 70px;
  }
  
  .arrow_style{
      top: 0 !important;
      /* display: flex !important; */
     position: relative !important;
     margin-top: 5px !important;
     margin-left: 5px !important;
     color: white;
     cursor: pointer;

   
      
  }
  .photo {
    width: 200px;
    height: 200px;
    margin-top: -120px;
    border-radius: 100px;
    border: 4px solid #fff;
  }
  
  
  
  /* @media (max-width:990px) {
    .active {
      right: calc(50% - 60px);
      top: 50px;
    } 
  } */
  
  .Pname{
      display: flex;
  }
  .Profile_Button, .Edit_Button{
       /* margin-left: 60%;  */
      margin-right: 5px;
      background-color: #0a66c2;
    border: 1px solid;
    font-weight: 600;
    color: white;
    /* border-color: blue; */
   /* padding-left: 10px;
  padding-right: 10px; */ 
  padding: 8px;
  font-size: 15px;
  width: 12vw;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 60px;
  }
  .Buttons{
    margin-left: 55%; 
      display: flex;
      /* justify-content: space-between; */

  }
  .name {
    margin-top: 20px;
    margin-left: 5px;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 18pt;
    color: rgb(17, 12, 12);
  }
  .name  :hover.p{
    color: #999;

  }

  .info {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: #aaa;
  }
  
  .stats {
    margin-top: 0px;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
    font-family: 'Montserrat', sans-serif;
  }

  .info1{
    display: inline-flex;
  }
  
  
  .number-stat1 {
    margin-left: 60px;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #0a66c2;
  }
  .number-stat2 {
    margin-left: 60px;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #0a66c2;
  }
  
  .right {
    padding: 0 25px 0 25px !important;
  }

  
  
  
  